<!DOCTYPE html>
<html>
  <head>
    <!-- <title>Skills Page</title> -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/"><h3>Go Back</h3></a>