
<!DOCTYPE html>
<html>
  <head>
    <title>Skills Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome To My Skills Page</h2>
    <!-- <a href="/skills">Skills List</a> -->
    <h4>Skills List:</h4>
    <ol>
      <% skills.forEach(function(sk) { %>
        <li>
          <span>
            <a href="/<%= sk.id %>">
            <!-- <span> -->
              <%= sk.skill %>
              -
              <%= sk.level %>
            <!-- </span> -->
            </a>
            <form action="/<%= sk.id %>?_method=DELETE" class="delete-form" method="POST">
              <button type="submit">Delete</button>
            </form>
          </span>
        </li>
      <% }); %>
    </ol>

    <a href="/new">Add New Skills</a>

</body>
</html>
