body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
button {
  color: #00B7FF;
}

input{
  width:234px;
}

li {
  width: 300px;
  margin-bottom: 15px;
}
span{
  width: 300px;
  display: inline-flex;
  justify-content: space-between;
}